
<!DOCTYPE html>
<head>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
</head>

<body>

<h1 class="welcome">Today's Date</h1><h2 class='weather'>73 and Sunny</h2>
<div class="clear"></div>
<div class="people-container">


</div>

<div class="space">

</div>


<div class="unassigned-container">
<h4>Unassigned Tasks</h4>
<table class="unassigned">
</table>
</div>

</body>




		<script id="person-template" type="text/x-handlebars-template">
		<div class="kid-container">
		<p class="kid-name"><%= image_tag "kendall.jpg" %>{{name}}</p>
		<div class="clear"></div>
		<table class="tasks-container">
		<tr class='button-container'>
		{{#assignedTasks}}
	<td class="task-d"><button class="title">{{title}}</button></td><td class="point-d"><button class="point_value">{{point_value}}</button></td></tr>
		{{/assignedTasks}}
		</table>
		</div>
		</script>


<script>
$(document).ready(function(){
	getPeople();
  getTasks();
});


var getPeople = function(){
  $.ajax({
    url: "http://localhost:3000/families.json",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    console.log(response);
    var template = $('#person-template').html();
    response.members.forEach(function(member){
    	var renderPeople = Mustache.render(template, member);
    	$('.people-container').append(renderPeople);
    });
    });
};

var getTasks = function(){
	$.ajax({
    url: "http://localhost:3000/families.json",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    console.log(response);
    var taskTemplate = $('#task-template').html();
    response.members.forEach(function(member){
    member.assignedTasks.forEach(function(task){
    	var renderTasks = Mustache.render(taskTemplate, task);
    	$('.tasks-container').append(renderTasks);
    });
    });
    });
};

var getUnassigned = function(){
  $.ajax({
    url: "http://localhost:3000/families.json",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    console.log(response);
    var template = $('#person-template').html();
    response.members.forEach(function(member){
    	var renderPeople = Mustache.render(template, member);
    	$('.people-container').append(renderPeople);
    });
    });
};





</script>



