<head>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>

</head>

<body>

<div class="reward-intro">
<h1>Fabulous Rewards!</h1>
<h2 class="dropdown-menu">Kendall: 500 Points</h2>

<button class="rlink"><a href="/families">Family ></a></button>
<button class="Llink"><a href="/tasks">To Tasks</a></button>

</div>

<table class="rewards-container">



</table>
</div>

<div class="space"></div>



</body>




<script id="reward-template" type="text/x-handlebars-template">

<div class="reward-box">
<h4 class="rewardMember">{{name}}  <span style="color:#3498db">{{task_points}}</span></h4>
  {{#rewards}}
	<tr class='button-container'>
	<td class="reward-d"><button class="name">{{name}}</button></td><td class="cost-d"><button class="cost">{{cost}}</button></td><td class="t-cat"></td></tr><br>
  {{/rewards}}
  </div>
		</script>

<script>
$(document).ready(function(){
  getRewards();
});


var getRewards = function(){
  $.ajax({
    url: "http://localhost:3000/rewards",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    console.log(response);
    var rewardTemplate = $('#reward-template').html();

    response.members.forEach(function(member){
    var rewardRender = Mustache.render(rewardTemplate, member);
    $('.rewards-container').append(rewardRender);
    });
    });
};

</script>