
<head>

		<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
</head>

<div class="bar bar-subheader bar-royal">
  <h2 class="title">Welcome to the store!</h2>
</div>


<body>
<div class="customscroll has-header has-footer">
<div>
  <a href="#new-reward" class="new-reward-link button icon-left ion-icecream button-positive" style='margin-top: 9vw;'>Add a New Reward</a>
</div>

<div class="rewards-container"></div>
<div class="space"></div>

<div id="new-reward" class="modal">
  <h1>New Reward</h1>
  <form method="post" class="create-reward" action="/rewards">
    <%= token_tag(nil) %>
    <label for="reard[name]">Reward Description</label>
      <input name="reward[name]" type="text" placeholder="Description" class="txtfield">
    <label for="reward[cost]"> Cost </label>
      <input name="reward[cost]" type="text" placeholder="Cost" class="txtfield">
    <label for="reward[member_id]">Assign to:</label>
      <select class="child-options" name="reward[member_id]" class="txtfield">

      </select>
    <input class="flatbtn-blu" type="submit" value="submit" />
  </form>
</div>
</div>
</body>




<script id="reward-template" type="text/x-handlebars-template">
<div class="list" style='margin-top: 2vw'>
<div class="item item-divider"> {{name}} Available points: {{points}}</div>
  {{#rewards}}
  
    <form class='buyreward'>
    
    <input type='hidden' name='reward_id' value='{{reward_id}}'>
   
    <div class='item item-button-right row'>
     
      <div class='col col-30'> {{name}} </div>
      <div class='col'> {{cost}} </div>
      <div class='col'></div>
      <div class='col'> <button class="button button-positive">Buy
        <i class="icon ion-ios-cart"></i>
      </button> </div>
     
    </div>
    </form>

  {{/rewards}}
  </div>
  <div class="clear"></div>
</script>



<script id="child-reward" type="text/x-handlebars-template">
  <option value="{{id}}">{{name}}</option>
</script>

<script>
var buyReward = function(e){
  e.preventDefault();
  $.ajax({
    url: 'rewards/buy_reward',
    method: 'post',
    data: $(e.target).serialize()
  }).done(function(response){
    getRewards()
  }).fail(function(response){
    console.log(response)
  })
};

// var approveReward = function(e){
//   e.preventDefault();
//   $.ajax({
//     url: '/members/give_reward',
//     method: 'post',
//     data: $(e.target).serialize()
//   }).done(function(response){
//     console.log(response)
//     console.log('FISHIN')
//   })
// }

$(document).on('submit', '.buyreward', buyReward);
// $(document).on('submit', '.giveanewreward', approveReward)

</script>

