<head>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
</head>

<body>
  <a href="#new-reward" class="new-reward-link">Add Reward</a>
<div class="reward-intro">
<h1>Fabulous Rewards!</h1>
<button class="rlink"><a href="/families">Family ></a></button>
<button class="Llink"><a href="/tasks">To Tasks</a></button>

</div>
<table class="rewards-container"></table>
</div>

<div class="space"></div>

<div id="new-reward" class="new-reward-popup">
  <form method="post" class="create-reward" action="/rewards">
    <%= token_tag(nil) %>

    <label> <span>Reward Description</span>
      <input name="reward[name]" type="text" placeholder="Description">
    </label>
    <label> <span>Cost</span>
      <input name="reward[cost]" type="text" placeholder="Cost">
    </label>
    <label class="assign">
      <span>Assign to:</span>
      <select class="child-options" name="reward[member_id]">

      </select>
    </label>
    <input class="button" type="submit" value="submit" />
  </form>
</div>
</body>

<div id="overlay">
     <div>
      <form class='purchase'>
        <p>Are you sure you want to buy this reward?</p>
        <select>
          <option value='yes'>Yes</option>
          <option value='no'> No</option>
        </select>
        <input type='submit' value='Submit!'>
      </form>
     </div>
</div>

<script id="reward-template" type="text/x-handlebars-template">
<div class="reward-box">
<h4 class="rewardMember">{{name}}<span style="color:#3498db">{{task_points}}</span></h4>
  {{#rewards}}
  <tr class='button-container'>
  	<td class="reward-d">
    <form class='buyreward'>
      <input type='hidden' name='reward_id' value='{{reward_id}}'>
      <input type='submit' value='{{name}}' class='name'>
    </form>
    </td>
    <td class="cost-d">
      <button class="cost">{{cost}}</button>
    </td>
  </tr>
  {{/rewards}}
  </div>
</script>

<script id="child-reward" type="text/x-handlebars-template">
  <option value="{{id}}">{{name}}</option>
</script>

<script>
var buyReward = function(e){
  e.preventDefault();
  $.ajax({
    url: 'rewards/buy_reward',
    method: 'post',
    data: $(e.target).serialize()
  }).done(function(response){
    getRewards()
  }).fail(function(response){
    console.log(response)
  })
}

$(document).on('submit', '.buyreward', buyReward);

</script>

