
<head>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
</head>

<div class="bar bar-subheader bar-royal">
  <h2 class="title">Welcome to the store! Spend your baseBucks here!</h2>
</div>


<body style='background-color: #ecf0f1'>
<div class="customscroll has-header has-footer bottom-margin">
<div>
  <% if parent_mode? %>
  <a href="#new-reward" class="new-reward-link button icon-left ion-icecream button-positive" style='margin-top: 12vw;'>Add a New Reward</a>
  <% end %>
</div>

<div class="rewards-container"></div>
<div class="space"></div>

<div id="new-reward" class="modal" style='background-color: #d3d3d3; height: 300px'>
  <h1>New Reward</h1>
  <form method="post" class="create-reward" action="/rewards">
    <%= token_tag(nil) %>
    <label for="reard[name]">Reward Description</label>
      <input name="reward[name]" type="text" placeholder="Description" class="txtfield">
    <label for="reward[cost]"> Cost </label>
      <input name="reward[cost]" type="text" placeholder="Cost" class="txtfield">
    <label for="reward[member_id]">Assign to:</label>
      <select class="child-options" name="reward[member_id]" class="txtfield">
      </select>
    <input class="flatbtn-blu" type="submit" value="submit" />
  </form>
</div>
</div>
</body>




<script id="reward-template" type="text/x-handlebars-template">
<div class="list" style='margin-top: 2vw'>
<a class="item item-avatar reward-name" style='background-color: {{membercolor}}' href="#">
  <img src="{{imgUrl}}">
  <div class="item item-divider col-list"> {{name}} <span class="{{pointscolor}}">Available baseBucks: {{points}}<span></div>
</a>
  {{#rewards}}
  
    <form class='buyreward'>
    <%= token_tag(nil) %>
    <input type='hidden' name='reward_id' value='{{reward_id}}'>
    <div class='item item-button-right row col-font'>
      <div class='col col-40 center-chore'> {{name}} </div>
      <div class='col col-40 center-chore'> {{cost}} bB</div>
      <div class='col col-20 center-chore'> <button class="button button-positive" style='float:right;'>Buy
        <i class="icon ion-ios-cart"></i>
      </button> </div>
    </div>
    </form>

  {{/rewards}}
  </div>
  <div class="clear"></div>
</script>



<script id="child-reward" type="text/x-handlebars-template">
  <option value="{{id}}">{{name}}</option>
</script>
