<head>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>

</head>

<body>

<div class="familyname-container">
</div>


<div class="members-medals-container">


</div>


</body>




<script id="familyname-template" type="text/x-handlebars-template">
<h1>The {{familyName}} Family</h1>
		</script>


<script id="memberMedal-template" type="text/x-handlebars-template">
<h2 class="memberMain">{{role}}      {{name}}      <span class="points">{{task_points}}</span></h2>
{{#badges}}
<h3 class="memberBadge"> * {{name}} *</h3>
{{/badges}}
{{#pendingRewards}}
<div style="text-align:center"><div class="pendingReward">  - {{name}} -  </div>:p</div> 
{{/pendingRewards}}


  </script>






<script>
$(document).ready(function(){
  getFamilyname();
  getFamilymembers();
});


var getFamilyname = function(){
  $.ajax({
    url: "http://localhost:3000/families.json",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    console.log(response);
    var familynameTemplate = $('#familyname-template').html();
    var showName = function(name){
    var familynameRender = Mustache.render(familynameTemplate, name);
    $('.familyname-container').append(familynameRender);
    };
    showName(response)
    });
};


var getFamilymembers = function(){
  $.ajax({
    url: "http://localhost:3000/families.json",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    var memberMedalTemplate = $('#memberMedal-template').html();
    response.members.forEach(function(member){
      console.log(member)
      var memberMedalRender = Mustache.render(memberMedalTemplate, member);
      $('.members-medals-container').append(memberMedalRender);
    })
    });
};





</script>