<head>
<!--   <link rel='stylesheet' href='../../lib/assets/jquery-ui-1.11.4.custom/jquery-ui.theme.css' /> -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
</head>
<script>
$(document).ready(function(){
  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();
  var calendar = $('#calendar').fullCalendar({
    theme: true,
    contentHeight: 300,
    fixedWeekCount: false,
    defaultView: 'basicWeek',
    header: {
      left: "prev, next today",
      center: "title",
      right: "month,agendaWeek,agendaDay"
    },
    selectable: true,
    selectHelper: true,
    editable: true,
    eventSources: [{
      url: '/events'
    }],
    timeFormat: 'h:mm'
  });

  // $('#datepicker').datepicker({
  //   changeMonth: true,
  //   changeYear: true
  // });
  //  $('#datepicker2').datepicker({
  //   changeMonth: true,
  //   changeYear: true
  // });
});
</script>
<body>


<div id="calendar"></div>


<form method="post" class="create-event" action="/events">
  <%= token_tag(nil) %>
  <input name="event[title]" type='text'>
  <input name="event[start_time]" type="date" id="datepicker">
  <input name="event[end_time]" type="date" id="datepicker2">
  <label class="assign">
      <span>Event for:</span>
      <select class="child-points" name="event[member_id]">
          <option> </option>
        </select>
        <br><br>
  </label>
  <input type="submit" value='Submit'>
</form>

<div id="new-member-box" class="modal">
<h1>New Family Member</h1>
  <form method="post" class="create-member" action="/members">
    <%= token_tag(nil) %>
    <label for="member[role">Role:</label>
      <input name="member[role]" type="text" placeholder="Role" class="txtfield" tabindex="2">
    <label for="member[name">Name:</label>
      <input name="member[name]" type="text" placeholder="Name" class="txtfield" tabindex="2">
    <div class="center"><input type="submit" id="loginbtn" class="flatbtn-blu hidemodal" value="Submit" tabindex="3"></div>
  </form>
</div>
  <div class="familyname-container"></div>
    <button class="Llink">
      <a href="/rewards">To Rewards</a>
    </button>
  <div class="clear"></div>
  <div class="members-medals-container"></div>
  <% if parent_mode? %>
  <p class="add-member"><button class="add"><a href="#new-member-box" class="login-window">Add Family Member</a></button></p>
  <% end %>
</body>


<script id="familyname-template" type="text/x-handlebars-template">
  <h1>The {{familyName}} Family</h1>
</script>

<script id="child-points" type="text/x-handlebars-template">
  <option value={{id}}>{{name}}</option>
</script>

<script id="memberMedal-template" type="text/x-handlebars-template">
  <h2 class="memberMain">{{role}}      {{name}}
    <span class="points">{{task_points}}</span>
  </h2>
    {{#pendingRewards}}
  <div style="text-align:center">
  <% if parent_mode? %>
  <form class='giveanewreward'>
    <input type='hidden' name='reward_id' value='{{id}}'>
    <input type='image' style='height: 25px' src='/assets/greencheck.png'>
  </form>
  <% end %>
    <div class="pendingReward">  - {{name}} -  </div>
  <% if parent_mode? %>
  <form class='denyanewreward'>
    <input type='hidden' name='reward_id' value='{{id}}'>
    <input type='image' style='height: 25px' src='/assets/redx.png'>
  </form>
  <% end %>
  </div>
  {{/pendingRewards}}
</script>


<% if parent_mode? %>
  <a href="#points-box" id='addpointsbtn' class="points-window">Add Points</a>
    <div id="points-box" class="points-popup">
    <a href="#" class="close"><img src="/assets/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
    <form method="post" class="addpoints" action="members/add_points">
      <%= token_tag(nil) %>
      <fieldset class="textbox">
        <label class="username">
        <span>Points to Add</span>
        <input id="addpoints" name="points" type="number" autocomplete="on" placeholder="+ points">
        </label>
        <label class="assign">
          <span>Give to:</span>
          <select class="child-points" name="name">
            <option> </option>
            </select>
            <br><br>
        </label>
        <input type='submit' class='submitchore' name="Assign_Chore">
      </fieldset>
  </form>
  </div>
  <a href="#rmpoints-box" id='removepointsbtn' class="rmpoints-window">Remove Points</a>
    <div id="rmpoints-box" class="rmpoints-popup">
    <a href="#" class="close"><img src="/assets/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
    <form method="post" class="rmpoints" action="members/remove_points">
      <%= token_tag(nil) %>
      <fieldset class="textbox">
        <label class="username">
        <span>Points to Add</span>
        <input id="rmpoints" name="points" type="number" autocomplete="on" placeholder="- points">
        </label>
        <label class="assign">
          <span>Give to:</span>
          <select class="child-points" name="name">
            <option> </option>
            </select>
            <br><br>
        </label>
        <input type='submit' class='submitchore' name="Assign_Chore">
      </fieldset>
  </form>
  </div>
<% end %>

