<head>
<!--   <link rel='stylesheet' href='../../lib/assets/jquery-ui-1.11.4.custom/jquery-ui.theme.css' /> -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>

</head>

<body>

<div class="customscroll has-header has-footer">
<div id="calendar" class='calendar-padding'></div>
<div class="list" style="margin:20px 0 100px 30px;">
<form method="post" class="create-event" action="/events">
  <%= token_tag(nil) %>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Event Title</span>
    <input name="event[title]" type='text' placeholder="Playdate">
  </label>
  <label class="tem item-input item-stacked-label">
  <span class="input-label">Starts At</span>
  <input name="event[start_time]" type="date" id="datepicker">
  </label>
  <label class="tem item-input item-stacked-label">
  <span class="input-label">Ends At</span>
  <input name="event[end_time]" type="date" id="datepicker2">
  </label>
  <label class="item item-input item-select">
      <div class="input-label">Event for:</div>
      <select class="child-points" name="event[member_id]">
          <option> </option>
        </select>
  </label>
  <div class="row">
  <input class="button button-royal col" style="margin:0 auto;"type="submit" value='Submit'>
  </div>
</form>
</div>
</body>

<script id="child-points" type="text/x-handlebars-template">
  <option value={{id}}>{{name}}</option>
</script>
