<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgny.homeBase" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>homeBase</name>
    <description>
A family application that allows parents to delegate tasks with point values and children to receive and redeem points after completing tasks.
    </description>
     <author email="sherman.ng10@gmail.com">
        DevBootcamp Pocket Gophers 2015
    </author>
    <content src="http://10.0.2.101:3000" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
