
.rewards-container {
  width: 75vw;
  margin: 0 auto;

}

.reward-box {
  background-color:white;
 border:1px solid black;
 margin-top: 5vw;
}

.reward-d{
  border-top: 1px solid blue;
}

.item-name {
  color:white;
  background-color:#2980b9;
  font-size:18px;
}

.itemn{
  text-align:center;
}

.reward-d img{
  margin:0 auto;
  text-align:center;
}

.cart-container img{
  margin-top:-5px;
  float:right;
  width:25px;
}

.r-contents{
  border: 1px solid green;
}

.cost{
  font-color:blue;
  font-size:12px;
  float:right;
}

.nameof{
  text-align:center;
  position: relative;
  top: 50%;
}

.rewardMember{
  margin-left:20px;
  font-size:22px;
}
