#form-login{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 200px;
  margin-left: 30%;
}

#link-to-login{
	display: none;
}

#form-signup{
	display: none;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 200px;
  margin-left: 30%;
}
 .toggle-login{
 	display: inline;
 }

.clear {
  clear: both;
}


.icon-parent-task-approve {
	fill: #4CAF50;
}
.icon-parent-task-x {
	fill: #FF3D00;
}
.icon-parent-task-redo {
	fill: #424242;
}

