.tasks-container {
	text-align:left;
	list-style-type: none;
	padding-left:42px;

}

li {
	list-style-type:none;
}

.welcome {
	float:left;
	text-align:center;
}

.kid-container{
border-radius: 20px;
width: 35vw;
margin: 0 auto;
padding-bottom: 20px;
padding-left:5px;
padding-top: 5px;
}

.kid-name{
	text-decoration: underline;
	font-size: 30px;
	color: #34495e;

}

p img {
  border-radius:20px;
	width:92px;
	margin-right:20px;
   vertical-align: text-bottom;
}

.clear {
	clear: both;
}


.point_value{
	font-size: 24px;
	display: flex; 
	justify-content: center; 
	flex-direction: column;
}

.reward-intro{
	text-align:center;
}

.rewards-container {
	margin: 0 auto;
	text-align:left;
	list-style-type: none;

}

.cost {
	display: inline-block;
	font-size: 24px;
	color:#34495e;

}

.space{
	margin-bottom: 35px;
}

.unassigned-container{
	width: 80vw;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid black;
	margin-bottom: 50px !important;
	margin-top: 20px;
}

/*#spacing-div{
	margin:200px;
}*/


.unassigned {
	text-align:left;
	list-style-type: none;
	padding: 2px;
}


.memberMain{
  text-align: center;
  font-size: 30px;
}

.memberBadge{
  text-align: center;
  font-size: 24px;
  color: #d35400;
}

.points {
  color:#2980b9;
}

#form-login{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 200px;
  margin-left: 30%;
}

#link-to-login{
	display: none;
}

#form-signup{
	display: none;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 200px;
  margin-left: 30%;
}

.rlink{
	float:right;
}

.Llink{
	float:left;
}

.true {
    border-color: #34495e !important;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    text-decoration: line-through;
    width: auto;
		background-color: #34495e !important;
		color:#f39c12;
}

.add-member{
	margin-top: 20px;
	text-decoration: none;
	text-align:center;
}

.add-member a{
	text-decoration: none;
}

.chore-window{
	text-decoration: none;
	text-align: center;
}

.chore-button{
	float:left;
}

#form-login{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 200px;
  margin-left: 30%;
}

#link-to-login{
	display: none;
}

#form-signup{
	display: none;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 200px;
  margin-left: 30%;
}

.toggle-login{
 	display: inline;
}

.clear {
  clear: both;
}

.icon-parent-task-approve {
	fill: #4CAF50;
}
.icon-parent-task-x {
	fill: #FF3D00;
}
.icon-parent-task-redo {
	fill: #424242;
}

.customscroll{
  position: absolute;
  width: 100%;
  overflow:scroll;
  top: 0;
  bottom: 0;

}

.greenpoints {
	color: green;
	float: right;
}

.redpoints {
	color: red;
	float: right;
}

.bottom-margin {
	margin-bottom: 40px;
}

.col-font {
	font-family: 'Lora', serif;
	font-size: 20px !important;
	border: 2px #d3d3d3 solid;
	border-radius: 5px;
}

.col-list {
	font-family: 'Lora', serif;
	font-size: 20px !important;
	font-style: bold;
}

.reward-name {
	opacity: 0.7;
	border-radius: 5px;
}

.center-reward {
	display: flex; 
	justify-content: center; 
	flex-direction: column
}

.style_image {
	height: 45px;
}

.adding-space{
	padding: 100px 0;
}

.calendar-padding {
	padding-left: 40px;
	padding-right: 40px;
	padding-top:  60px;
}

.create-event{
  margin: 0 auto;
  width: 30%;
  border: 1px #d3d3d3 solid;
  margin: 5px;
}
.bb {
	font-size: 14px;
	font: arial;
}

.points_earned {
	text-align: center;
	margin-top: 20px;
}

.center-chore{
	display: flex; 
	justify-content: center; 
	flex-direction: column
}

.unassigned-header {
	margin-bottom: 3px;
}

#weather{
	margin-right: 40px;
	margin-top: 20px;
	font-size: 30px;
	font-family: 'lora';
}

.date {
	text-align: center;
	font-size: 3vw;
}

.unassigned-dropdown {
  z-index: 2;
  margin: -1px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px; 
  border-color: #387ef5;
  background: transparent;
  color: #387ef5;
}

.error-message {
	display: block;
	clear: both;
	padding-top: 1vw;
}